# PyCharm project settingsa
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

frontend/.next/
frontend/node_modules/
frontend/.vscode/
frontend/package-lock.json
frontend/.vs/
frontend/.idea/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
app/static/
static
postgres-data
rec

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/

# sqlite db
key.txt
.idea/